
html{
    font-family: 'Ubuntu',sans-serif;
}

body {
    background-image: url('background.jpg')
}
html,body {
    height: 100%;
}
.container{
    margin: auto;
    width: 60%;
    
}
.top{
    display:flex;
    background-color:rgb(211, 211, 211);
    width:100%;
    height: 410%;
    align-items:center;
    justify-content:center;
    border-radius:100px;
    background-color: #362f4b;
    transition: 100ms ease-in;
}
select, input{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}
.submit {
    margin:10px auto;

}

select{
    margin: 10px auto;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.book-table{
    border: 0px;
    border-collapse:seperate;
    border-spacing: 0px;
    border-radius: 20px;
    margin:20px auto;
    width:100%; 
    font-size:0.9em;
    
    min-width:400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.book-table thead tr {
    background-color: #362f4b;
    color: #ffffff;
    text-align: left;
    
}
.book-table th,
.book-table td {
    padding: 12px 15px;
}
.book-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.book-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3
}
.book-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}
.book-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879
}
.body-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table th:first-child{
    border-radius: 20px 0px 0px 0px;
}
table th:last-child{
    border-radius: 0px 20px 0px 0px;
}
tbody tr:last-child td:last-child{
    border-radius: 0px 0px 20px 0px;
}
tbody tr:last-child td:first-child{
    border-radius: 0px 0px 00px 20px;
}


/* Delete and Read/Not Read  */
.delete {
    border: none;
	font-family: 'Lato';
	color: white;
	background: red;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 2  00;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    border-radius: 5px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    
}
.btn:hover {
	background: #c0392b;
}
.btn:active {
	background: #c0392b;
	top: 2px;
}
